.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebarmid {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid lightgray;
}

.sidebardown {
  text-align: left;
  padding: 10px;
  background-color: white;
  width: 200px;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 10px;
}

.recentItem {
  display: flex;
  color: gray;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

.sidebarup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-bottom: 0;
}

.sidebarup > img {
  width: 100%;
  height: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.option1 {
  display: flex;
  justify-content: space-between;
}

.statnumber {
  font-weight: bold;
  color: #0a66c2 !important;
}
