.headeroption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.headeroptiontitle {
  font-size: 12px;
  font-weight: 400;
}

.headeroptionicon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headeroption:hover {
  color: black;
}
