.header {
  position: sticky;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.headerleft {
  display: flex;
}

.headerleft > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.sreach {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 22px;
  border-radius: 5px;
  background-color: #eef3f8;
}

.sreach > input {
  outline: none;
  border: none;
  background: none;
}

.headerright {
  display: flex;
}
