.header {
  position: sticky;
  display: flex;
  background-color: red;
  justify-content: space-evenly;

  width: 100%;
}

.headerleft {
  display: flex;
}

.headerleft > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.headerright {
  display: flex;
}
