.feed {
  margin: 0 20px;
  flex: 0.6;
}

.feedinput {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.inputbox {
  border: 0.1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.inputbox > form {
  display: flex;
  width: 100%;
}

.inputbox > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.inputbox > form > button {
  display: none;
}

.inputoptions {
  display: flex;
  justify-content: space-between;
}
