.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.postheader {
  display: flex;
  margin-bottom: 10px;
}

.postinfo {
  margin-left: 10px;
}

.postinfo > p {
  font-size: 12px;
  color: gray;
}

.messagebox {
  overflow-wrap: anywhere;
}

.postinfo > h2 {
  font-size: 15px;
}

.postbuttons {
  display: flex;
  justify-content: space-evenly;
}
